h1 {
  font-family: 'Londrina Outline', cursive;
  font-style: italic;
  font-weight: bold;
  color: green;
}

button {
  background-color: red;
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  margin: 4px 2px;
}

.button5 {
  border-radius: 50%;
  color: white
}

h4 {
  text-align: center;
}

  .player-0-panel, .player-1-panel {
    width: 40%;
    float: left;
    height: 800px;
    padding: 90px;
}

// player

.playerName {
    font-size: 100px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    margin-top: 40px;
    margin-bottom: 10px;
    position: relative;
}

.player-score-0 {
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    color: #EB4D4D;
    margin-bottom: 130px;
}

.player-score-1 {
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    color: #2ecc71;
    margin-bottom: 130px;
}

.player-0-rolled-1 {
	text-align: center;
	margin-bottom: 10px;
}

.player-1-rolled-1 {
	text-align: center;
	margin-bottom: 10px;
}

.active-0 { background-color: rgba(255, 175, 189, 0.1) }
.active-1 { background-color: rgba(46, 204, 113, 0.1) }
.active-0 .player-name, .active-1 .player-name { font-weight: 300; }

.player-current-box-0 {
    background-color: #EB4D4D;
    color: #fff;
    width: 40%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
}

.player-current-box-1 {
    background-color: #2ecc71;
    color: #fff;
    width: 40%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
}

.player-current-label {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
    color: #222;
}

.player-current-score {
    font-size: 30px;
}

.dice {
    position: absolute;
    left: 50%;
    top: 178px;
    transform: translateX(-50%);
    height: 100px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}

.winner-0 { background-color: #f7f7f7; }
.winner .player-name { font-weight: 300; color: #EB4D4D; }

.winner-0 { background-color: rgba(255, 175, 189, 0.1) }
.winner-1 { background-color: rgba(46, 204, 113, 0.1) }
.winner-0 .player-name { font-weight: 300; color: #EB4D4D;}
.winner-1 .player-name { font-weight: 300; color: #2ecc71;}
