h1 {
  font-family: 'Londrina Outline', cursive;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  color: green;
}

button {
  background-color: red;
  border: none;
  border-radius: 12px;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  margin: 4px 2px;
  cursor: pointer;
}

h4 {
  text-align: center;
}

  .player-0-panel, .player-1-panel {
    width: 40%;
    float: left;
    height: 800px;
    padding: 90px;
}

  .rules {
    font-weight: bold;
    font-style: italic;
  }

.playername {
    font-size: 100px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    margin-top: 40px;
    margin-bottom: 10px;
    position: relative;
}

.player-0-rolled-1 {
	text-align: center;
	margin-bottom: 10px;
}

.player-current-box-0 {
    width: 40%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
}

.player-current-box-1 {
    width: 40%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
}

.player-current-label {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
}

.score {
    font-size: 30px;
}
